{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@resources/*": ["src/resources/*"],
      "@config/*": ["src/config/*"],
      "@modules/*": ["src/modules/*"],
      "@utils": ["src/utils"],
      "@lib/*": ["src/lib/*"]
    }
  },
  "minify": false
}
