{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "@resources/*": ["src/resources/*"],
      "@config/*": ["src/config/*"],
      "@modules/*": ["src/modules/*"],
      "@utils": ["src/utils"],
      "@lib/*": ["src/lib/*"]
    }
  },
  "minify": false
}
